Project3/TryIt22/Service References/Proj3Services/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SolarIntensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolarIntensityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolarIntensityResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordFilterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>